<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Display if cart is empty -->
<div *ngIf="!hasPreviousOrders">
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button color="secondary" routerLink="/dashboard/tabs/cart">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div *ngIf="hasPreviousOrders">
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-spinner color="primary" name="circles"></ion-spinner>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list  *ngIf="!isLoading">
    <ion-item-group>
      <ion-item-divider color="secondary">
        <ion-text>
          <h2>Your Previous Orders</h2>
        </ion-text>
      </ion-item-divider>
      <!--  -->
      <ion-accordion-group *ngFor="let order of loadedOrders">
        <ion-accordion [value]="order" toggle-icon="arrow-down-circle">
          <ion-item slot="header">
            <ion-label>{{order.orderDate | date:'medium'}}</ion-label>
          </ion-item>

          <ion-list slot="content" *ngFor="let type of order?.productTitles, index as i">
            <ion-item lines="full" button detail="true" class="ion-padding">
              <ion-avatar slot="start">
                <ion-img [src]="order?.productImages[i]"></ion-img>
              </ion-avatar>
              <ion-text>
                <ion-note>{{order?.productTitles[i]}}</ion-note><br>
                <ion-note>R{{order?.productPrices[i]}}</ion-note>
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
      </ion-item-group>
  </ion-list>
</div>
</ion-content>
