<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="landing"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div *ngIf="isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-spinner color="tertiary" name="circles"></ion-spinner>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!isLoading">
    <!-- Banner -->
    <ion-img [src]="product?.branner"></ion-img>
    <!-- Grid: card -->
    <ion-grid>
      <!-- Heading -->
      <ion-row>
        <ion-col size="12">
          <h3 class="ion-text-center">Shop {{ product?.title }} by Categories:</h3>
        </ion-col>
      </ion-row>
      <!-- Material -->
      <ion-row>
        <ion-col size="6" *ngFor="let img of product?.images, index as i">
          <ion-img [src]="img"></ion-img>
          <h5 class="ion-text-center">{{ product?.imgsTitle[i] }}</h5>
        </ion-col>
      </ion-row>
      <!-- About -->
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Read More</ion-card-subtitle>
              <ion-avatar class="ion-text-center">
                <ion-img id="product-image" [src]="product?.imageUrl"></ion-img>
              </ion-avatar>
              <ion-card-title class="ion-text-center">{{ product?.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ product?.description }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
