<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <!-- defaultHref="/landing" -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Delivery Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Top banner -->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img src="../../../assets/landing_page/delivery_options/top-banner.jpeg"></ion-img>
      </ion-col>
    </ion-row>
    <!-- Information text -->
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
          <ion-text color="secondary">
            <p>
              Shop all your project essentials at Siyeshe Holdings. Whether it’s in-store or online,
              we’re here to make sure you get the option that’s bestsuited to you
            </p>
          </ion-text>
      </ion-col>
    </ion-row>
    <!-- Heading -->
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h3>Upon Completing Your Order:</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- Delivery Options -->
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let deliveryOptions of delivery">
          <ion-card-header>
            <ion-card-subtitle>Delivery Option</ion-card-subtitle>
            <ion-card-title class="ion-text-center">
              <ion-icon [name]="deliveryOptions.icon"></ion-icon>
              {{ deliveryOptions.title }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img [src]="deliveryOptions.image"></ion-img>
            <ion-label class="ion-padding">
              <p>{{ deliveryOptions.description }}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label>
          <h3>More Information:</h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <!--  -->
    <ion-row>
      <ion-col size="12">
        <!-- Not another accordian -->
        <ion-accordion-group>
          <ion-accordion value="builders-delivery">
            <ion-item slot="header">
              <ion-label>Builders Delivery</ion-label>
            </ion-item>

            <ion-list slot="content" class="ion-padding">
              <ion-label>Between kids, the construction team and your client chasing the deadline, stopping everything for a trip to Siyeshe Holdings for those last-minute supplies doesn’t make sense — and you don’t have to!</ion-label>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="building-material">
            <ion-item slot="header">
              <ion-label>Need Building Material Delivered?</ion-label>
            </ion-item>

            <ion-list slot="content" class="ion-padding">
              <ion-label>Our builders delivery service means that there’s basically a Siyeshe Holdings in your pocket or on your desktop. You can choose to browse online and select the items you want, that you can then have coordinated and batched for you to collect in store — or make use of the building material delivery and have those supplies brought to you.</ion-label>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="click-collect">
            <ion-item slot="header">
              <ion-label>Click & Collect</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item><p>Shop online at your convenience and get exactly what you want from your favourite Siyeshe Holdings stores. You get all the benefits of in-store shopping, online</p></ion-item>
              <ion-item><p>Skip the queues and cut down on delivery time with Click & Collect. Collect your order at our Click & Collect Counters in-store.</p></ion-item>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="deliver">
            <ion-item slot="header">
              <ion-label>Get it Delivered</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <p>Our fleet of trucks are ready to bring the build directly to your site. This is valid for in-store and online purchases. We offer free deliveries on all online orders that are over R2000 and within 5km from the Siyeshe Holdings store you order from</p>
              </ion-item>
              <ion-item>
                <p>Only applicable to South African stores.</p>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
